/* 
@media (max-width: 1536px){

}

@media (max-width: 1280px){
    
}

@media (max-width: 1024px){
    
}

@media (max-width: 768px){
    
}

@media (max-width: 640px){

}

@media (max-width: 475px){

}
*/


.container{
    width: 1536px;
    margin-inline: auto;
    padding-inline: 0.5rem;
}

.content{
    flex: 1;

    display: flex;
    flex-direction: column;

    position: relative;
}

.section{
    margin-top: 15rem;
}

.title{
    color: var(--clr-text);
    font-family: var(--font-secondary);
    font-size: var(--size-lg);
    font-weight: 700;

    text-transform: uppercase;

    margin-bottom: 1rem;
}


.btn{
    background-color: var(--clr-offwhite);
    color: var(--clr-black);
    font-size: var(--size-base);

    font-weight: 500;

    text-decoration: none;

    border-radius: 6px;
    padding: 0.5em 1em;
}

.btn:hover{
    background-color: var(--clr-slate400);

    transition: background-color 0.2s;
}


@media (max-width: 1536px){
    .container{
        max-width: 1280px;
    }

}

@media (max-width: 1280px){
    .container{
        max-width: 1024px;
    }

    .aside{
        display: none;
    }
}

@media (max-width: 1024px){
    .container{
        max-width: 768px;
    }
    
}

@media (max-width: 768px){
    .container{
        max-width: 640px;
    }
    
}

@media (max-width: 640px){
    .container{
            max-width: 475px;
    }
    
}

@media (max-width: 475px){
    .container{
        max-width: 100%;
   }
}